<div class="mb-8"></div>

{% schema %}
{
  "name": "Project Grid",
  "tag": "section",
  "presets": [{ "name": "Project Grid" }],
  "enabled_on": {
    "templates": ["*"],
    "groups": ["*"]
  }
}
{% endschema %}
